/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC

DARK BLUE: #1D3557

*/

*,*::before,*::after{
    box-sizing: border-box;
      background-color: #457B9D;
      color: whitesmoke;
      text-shadow: black 1px 0px ;
}

body,html {
    margin: 0;
    padding: 0;
    text-align: center;
         background-color: #457B9D;
        
}


.nav{   
    display: flex;
    flex-direction: column;
    margin: 1em auto auto 1em ;
    padding: 0;
    
    }
    
  
    
    @media (max-width:40em){
.mt0{
    margin-top: 0em;
    
    
}   

    .nav{
        display: none;
    }
    .container{
        max-width: fit-content;
    }
    header{
        text-align: justify;
    }

}
    
.btn{
   margin-left: 1em;
}

#btn{ width: 50%;}
#btn:hover,#btn:focus{
        cursor: pointer;}

li{ list-style: none;
    margin-top:1em;}
    
a{text-decoration: none;
    color: whitesmoke;}
a:hover,a:focus,{
    text-decoration: underline;
    cursor: pointer;}
    
@media(min-width: 40em){
    header{
    display: flex;
    flex-direction: column;
    
    margin:  auto;
   justify-content: center;}
    
   
.btn{
    display: none;}
    nav{
     margin: 0 auto;   
    }
.nav{
   
  
    flex-direction: row;
    justify-content: space-evenly;
  
    
}
li{
    margin:  2em 2em 0em 0em ;
}
}

.torshov{
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    
}
.container{
    
    margin: 0 auto;
    max-width: 40em;
 
    }

.container,.circle,.images,.imagesdiv{
    display: flex;
    flex-direction: column;
}

img {
    width: 10em;
   
    margin: 1em auto;
    
}
.circle{
  
    border-radius: 6.25em;
}
.images{
  
    justify-content: space-evenly;
    margin:  auto;
  
}
.imagesdiv{
  
  
    justify-content: center;
    align-content: center;
   
    
    
}

.guide{
 
   border:  5px solid yellow;
   max-width: 32.5em;

   margin: 0 auto;
}

@media(min-width:768px)

{
    .container{
        max-width: 60em;
        padding: 1em;
        
        
    }
    .images{
        max-width: 100%;
        margin: 0em 2em;
        flex-direction: row;
   
        
    }
    .guide{
        padding:1em;
        max-width: 100%;
    }
}
